// main: ../style.less

.testimonials {
    .person {
        margin-top: 103px;

        width: auto;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .person__text {
        width: 33%;
    }

    .person__photo {
        width: 33%;
        text-align: center;
    }

    .person__info {
        width: 33%;
    }
}


@media @tablet {

    .testimonials {
        .person {
            margin-top: 60px;
            flex-flow: column nowrap;
            justify-content: space-around;
            text-align: center;
        }

        .person__text {
            margin-top: 15px;
            width: 100%;
            order: 2;
        }

        .person__photo {
            order: 0;
        }

        .person__info {
            margin-top: 15px;
            width: 100%;
            order: 1;
        }
    }

}