// main: ../style.less

.contact-us__content {
    flex-flow: column nowrap;
}

.contact-us__contacts {
    margin: 64px auto 153px;

    width: 100%;
    max-width: 538px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__item {
    width: 100%;
    max-width: 24%;

    text-align: center;
}

.contacts__info {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;

    color: #898888;
}

.contact-us__form {
    width: 100%;
    max-width: 770px;

    margin-bottom: 150px;
}

.form__field {
    width: 100%;

    margin-bottom: 20px;
    padding: 22px;
    
    border: 1px solid #999999;

    &::placeholder {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;

        color: #898888;
    }
}

.textarea {
    min-height: 195px;
}