// main: ../style.less

.nav {
    position: relative;
    width: 100%;

    padding: 22px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &.active {
        .nav__col {
            display: flex;
        }
    }
}

.nav__col {
    width: 50%;

    display: flex;
    align-items: center;
    
    &--left {
        padding-right: 86.5px;
        justify-content: flex-end;
    }

    &--right {
        padding-left: 86.5px;
        justify-content: flex-start;
    }
}

.nav__link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.87rem;
    font-weight: 300;
    text-decoration: none;
    color: #989696;

    transition: color .2s linear,
        background-color .2s linear;

    &:not(:first-child) {
        margin-left: 40px;
    }

    &:hover {
        color: #010101;
    }
}

.nav__logo {
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
}




/* MEDIA */

@media @mobile {

    .nav__col {
        display: none;
        justify-content: space-between;

        position: absolute;
        top: 60px;
        left: -15px;

        padding: 0;

        min-width: 0;

        width: auto;

        justify-content: center;
        flex-direction: row;
        align-items: center;

        background-color: #1d1e1f;
        box-shadow: -2px 4px 10px 0px rgba(0,0,0,0.75);

        z-index: 1;

        &--right {
            top: 91px;
        }
    }

    .nav__link {

        padding: 7px 10px;

        &:hover {
            background-color: #fff;
            
        }

        &:not(:first-child) {
            margin-left: 0;
        }
    }

}